[tool.poetry]
name = "PyArtifactory"
version = "1.11.0"
description = "Typed interactions with the Jfrog Artifactory REST API"
authors = ["Ananias CARVALHO <carvalhoananias@hotmail.com>", "Thomas GAUDIN <thomas.gaudin@centraliens-lille.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/anancarv/python-artifactory"
documentation = "https://github.com/anancarv/python-artifactory"
keywords = ["artifactory"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: System Administrators",
  "Typing :: Typed",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Software Development :: Libraries",
  "Topic :: System :: Filesystems",
  "Operating System :: OS Independent"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/anancarv/python-artifactory/issues"

[tool.pylint.master]
extension-pkg-whitelist = """
pydantic
"""
ignore = """
tests
"""

[tool.pylint.messages_control]
disable = """
bad-continuation,line-too-long,too-few-public-methods,import-error,too-many-instance-attributes, too-many-arguments,
raise-missing-from, invalid-name, too-many-lines
"""

[tool.pylint.basic]
good-names = """
logger,i,j,k,ex,Run,_
"""

[tool.poetry.dependencies]
python = "^3.8.0"
requests = "^2.28"
email_validator = "^1.0"
pydantic = "^1.10"
typing_extensions = "^4"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
mypy = "^0.740"
black = { version = "^22.3.0", allow-prereleases = true }
pre-commit = "^2.9.2"
responses = "^0.17.0"
pytest-mock = "^3.0.0"
detect-secrets = "^1.2.0"
pytest-cov = "^4.0"
pylint = "^2.15.9"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
