[tool.poetry]
name = "PyArtifactory"
version = "1.4.0"
description = "Typed interactions with the Jfrog Artifactory REST API"
authors = ["Ananias CARVALHO <carvalhoananias@hotmail.com>", "Thomas GAUDIN <thomas.gaudin@centraliens-lille.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/anancarv/python-artifactory"
documentation = "https://github.com/anancarv/python-artifactory"
keywords = ["artifactory"]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.21"
email_validator = "^1.0"
requests_toolbelt = "^0.9.1"
pylint = "2.4.4"
pydantic = "^1.4"
typing_extensions = "^3.7.4"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
mypy = "^0.740"
black = { version = "^19.10b0", allow-prereleases = true }
pre-commit = "^1.15"
responses = "^0.10.6"
pytest-mock = "^2.0.0"
detect-secrets = "^0.13.0"
pytest-cov = "^2.7"
codacy-coverage = "^1.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
