[tool.poetry]
name = "PyArtifactory"
version = "1.9.3"
description = "Typed interactions with the Jfrog Artifactory REST API"
authors = ["Ananias CARVALHO <carvalhoananias@hotmail.com>", "Thomas GAUDIN <thomas.gaudin@centraliens-lille.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/anancarv/python-artifactory"
documentation = "https://github.com/anancarv/python-artifactory"
keywords = ["artifactory"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: System Administrators",
  "Typing :: Typed",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Topic :: Software Development :: Libraries",
  "Topic :: System :: Filesystems",
  "Operating System :: OS Independent"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/anancarv/python-artifactory/issues"

[tool.pylint.master]
extension-pkg-whitelist = """
pydantic
"""
ignore="""
tests
"""

[tool.pylint.messages_control]
disable = """
bad-continuation,line-too-long,too-few-public-methods,import-error,too-many-instance-attributes, too-many-arguments, raise-missing-from
"""

[tool.pylint.basic]
good-names = """
logger,i,j,k,ex,Run,_
"""

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.21"
email_validator = "^1.0"
pydantic = "^1.4"
typing_extensions = "^3.7.4"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
mypy = "^0.740"
black = { version = "^19.10b0", allow-prereleases = true }
pre-commit = "^1.15"
responses = "^0.10.6"
pytest-mock = "^2.0.0"
detect-secrets = "^0.13.0"
pytest-cov = "^2.7"
pylint = "^2.5.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
