[tool.poetry]
name = "PyArtifactory"
version = "1.0.2"
description = "Typed interactions with the Jfrog Artifactory REST API"
authors = ["Ananias CARVALHO <carvalhoananias@hotmail.com>", "Thomas GAUDIN <thomas.gaudin@centraliens-lille.org>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/anancarv/python-artifactory"
documentation = "https://github.com/anancarv/python-artifactory"
keywords = ["artifactory"]

[tool.poetry.dependencies]
python = "^3.6"
pydantic = "^0.23.0"
requests = "^2.21"
email_validator = "^1.0"
pytest-cov = "^2.7"
codacy-coverage = "^1.3"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
mypy = "^0.700.0"
black = { version = "^19.3b0", allows-prereleases = true }
pre-commit = "^1.15"
responses = "^0.10.6"
pytest-mock = "^1.10"
detect-secrets = "^0.12.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
