name: Deploy Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install Poetry
        uses: snok/install-poetry@v1.1.1
        with:
          version: 1.1.14
          virtualenvs-in-project: false
          virtualenvs-path: ~/.virtualenvs

      - name: Set Poetry config
        run: |
          poetry config pypi-token.pypi "${{ secrets.PYPI_TOKEN }}"

      - name: Build
        run: poetry build

      - name: Publish
        run: poetry publish
